---
const mesa = "N/A";
const cliente = "N/A";

const now = new Date();
let aperturaISO = now.toISOString();

const day = String(now.getDate()).padStart(2, "0");
const month = String(now.getMonth() + 1).padStart(2, "0");
const year = now.getFullYear();
const hours = String(now.getHours()).padStart(2, "0");
const minutes = String(now.getMinutes()).padStart(2, "0");
const apertura = `${day}/${month}/${year} ${hours}:${minutes}`;
---

<div class="bill-bar d-flex flex-column p-2 m-0 p-0">
  <div
    class="d-flex flex-row gap-4 ms-2 align-items-center"
    style="font-size: 15px;"
  >
    <div id="mesaGroup" class="data-group">
      <p><strong>Mesa:</strong> {mesa}</p>
    </div>
    <div id="clienteGroup" class="data-group">
      <p><strong>Cliente:</strong> {cliente}</p>
    </div>
    <div id="aperturaGroup" data-aperture=`${aperturaISO}` class="data-group">
      <p><strong>Apertura:</strong> {apertura}</p>
    </div>
  </div>

  <table class="table rounded-top-2 m-0">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col" style="width: 50px;"></th>
      </tr>
    </thead>
    <tbody> </tbody>
  </table>

  <div class="total text-end ms-auto m-0 rounded-bottom-2 w-100 pe-2">
    <hr class="mb-1 mt-0" />
    <h5 class="">TOTAL $</h5>
  </div>

  <div class="d-flex flex-column gap-2">
    <button id="finishOrder" class="bill-btn w-100 fourth_color">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle me-2" viewBox="0 0 16 16" style="vertical-align: middle;">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
      </svg>
      Finalizar Pedido
    </button>
    <div class="d-flex flex-row gap-2">
      <button id="closeOrder" class="bill-btn w-100 third_color_light">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle me-1" viewBox="0 0 16 16" style="vertical-align: middle;">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
        Cerrar
      </button>
      <button id="deleteOrder" class="bill-btn w-100 delete_color">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash me-1" viewBox="0 0 16 16" style="vertical-align: middle;">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
        Eliminar
      </button>
    </div>
    <button id="backToTables" class="bill-btn w-100" style="background-color: #6c757d; color: white;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle me-2" viewBox="0 0 16 16" style="vertical-align: middle;">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
      Volver a Mesas
    </button>
  </div>
</div>
